.modal-shadow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
}

.modal-container {
  transform: translateX(-25%);
  transform: translateY(-25%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 1rem #2225;
}