.modal-shadow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.021);
  backdrop-filter: blur(1px);
}

.modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #fff;
  padding: 2rem 0.7rem;
  min-width: 25%;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px #2225;
}

.modal-container .close-button {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  outline: none;
  border: none;
}

.modal-container .close-button > span {
  font-weight: 300;
}
