.list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 2fr 5rem;
  padding: 0.7rem;
  transition: all 200ms ease-in-out;
}

.list:hover {
  background-color: #ccc3;
}

.description-text {
  color: #666;
}

.buttons {
  display: flex;
  gap: 0.3rem;
}

.buttons button {
  min-width: 0;
}

.dashed {
  text-decoration: dashed;
}
