@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Lato', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --default-transition: all 300ms ease;
}

body, html {
  min-height: 100vh;
}

#root {
  min-height: inherit;
}

#root .fluent {
  min-height: 100vh;
}

.application {
  min-height: 100vh;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

li {
  list-style: none;
}
