@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Lato', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --default-transition: all 300ms ease;

  --primary-color: #151515;
  --second-color: rgb(90, 125, 201);
  --thrid-color: rgb(218, 218, 218);
  --fourth-color: rgb(218, 218, 218);
  --fifth-color: rgb(76, 88, 197);
}

body, html {
  min-height: 100vh;
}

#root {
  min-height: inherit;
}

#root .fluent {
  min-height: 100vh;
}

.application {
  min-height: 100vh;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

li {
  list-style: none;
}

.button-default-primary {
  color: #fff;
  padding: 0.4rem;
  border: none;
  outline: none;
  background-color: var(--second-color);
  border-radius: 0.2rem;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.button-default-primary:hover {
  background-color: var(--fifth-color);
}

.button-default-secondary {
  padding: 0.4rem;
  border: 1px solid rgba(15, 15, 15, 0.356);
  border-radius: 0.2rem;
}
